.center {
    margin: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }

  div{
      background: lightskyblue;
  }

  h4{
      margin: 8px;
  }

  .box {
    width: 200px;
    display: inline-block ;
    border: 1px solid gray;
    text-align : center;
    background : beige;
    }

    .selected {
    background : lightgrey;
    }

    .showinfo{
        background: none;
    }