
.header{
    color: red;
}
li{
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-width: 0.1ch;
    margin:3px;
    margin-bottom:0px;

    padding: 0em; 
    font-size: large;
    width: 44vw;
    height: 10vw;

    /* height: 50px; */
    
}